# Application configuration
PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173


# Database configuration (MongoDB Connection URI)
MONGODB_URI=mongodb://localhost:27017/thryve

# Security keys
JWT_SECRET=your_jwt_secret_key_here
JWT_LIFETIME=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_LIFETIME=7d

# API rate limiting & security
RATE_LIMIT_WINDOW_MS=900000 # 15 minutes in milliseconds
RATE_LIMIT_MAX_REQUESTS=100 # limit each IP to 100 requests per window

# Google Gemini API Studio Key
GEMINI_API_KEY=your_google_gemini_api_studio_key_here

